html, body{
    border: 0;
    margin: 0;
    padding: 0;
}

*, *:after, *:before{
    box-sizing: border-box;
}

header{
    background: white;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: right;
}

header > nav{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 15px;
    padding-top: 20px;
}

.nav_link{
    font-family: arial, sans-serif;
    text-decoration: none;
}

.nav_link img{
    border-radius: 50px;
}

a{
    color: black;
}

a:hover{
    text-decoration:underline;
    cursor: pointer;
}

.wrapper{
    width: 100%;
    height: calc(100vh - (48px + 40px));
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    background-color: white;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.logo img{
    width: 272px;
    height: 92px;
    margin-bottom: 10px;
}

.searchbar{
    display: flex;
    width: 600px;
    height: 40px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    align-items:center;
    margin-top: 1%;
}

.searchbar:hover{
    box-shadow: 0 0 10px 0 gainsboro;
}

.searchbar > input{
    flex-grow: 1;
    border: 0;
    outline: 0;
}

.iconsearch{
    margin-left: 10px;
}

.microphone{
    margin-right: 10px; 
}

.buttons{
    margin-top: 15px    
}

button{
    background-color: rgb(250, 250, 250); 
    border: none; 
    height: 36px; 
    border-radius: 5px;
    font-family: arial, sans-serif;
}

button:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgb(199, 199, 199);
}

footer{
    width: 100%;
    height: 40px;
    background-color:rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: arial, sans-serif;
    font-size: 15px;
    position: fixed;
    
}

.left-nav{
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    margin-left:20px;
}

.right-nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right:20px;
}

@media (max-width: 700px){

    .wrapper{
        width: 95vw;
    }

    footer{
        flex-direction: column;
    }

    .left-nav{
        justify-content: center;
    }

    .right-nav{
        justify-content: center;
    }
}

@media (max-height: 522px){
    body{
        overflow-x: hidden;
    }

    .wrapper{
        margin-bottom: 20px;
    }
}